html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #f6f5ef;
  background-color: #11131f;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header {
  position: absolute;
  width: 100%;
}

.header__container {
  max-width: 375px;
  padding: 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  background-color: #11131f;
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    max-width: 1280px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 700;
  color: #f6f5ef;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 23px;
    height: 23px;
  }
}
@media screen and (min-width: 768px) {
  .logo-text {
    width: 186px;
    height: 13px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__open-menu {
    display: none;
  }
}

.header-icon-menu {
  width: 24px;
  height: 24px;
  fill: #f6f5ef;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}
.header__nav-link {
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f5ef;
  text-decoration: none;
}

.hero {
  max-width: 375px;
  padding: 112px 0 80px 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 151px 0 100px 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    padding-bottom: 164px;
  }
}

.hero__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 14px;
}

.hero__title-span {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__text {
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.button__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.button__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 60px;
  width: 130px;
  height: 43px;
  background-color: #93abae;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  text-decoration: none;
  cursor: pointer;
}

.button__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  width: 104px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #f6f5ef;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */