.rent {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-bottom: 164px;
  }
}

@media screen and (min-width: 768px) {
  .rent__container {
    display: flex;
    justify-content: space-between;
    gap: 69px;
    width: 704px;
    height: 351px;
  }
}

@media screen and (min-width: 1280px) {
  .rent__container {
    justify-content: center;
    gap: 188px;
    width: 913px;
    height: 387px;
    margin: 0 151px;
  }
}

.title__box {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.rent__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 60px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }
}

// Form
.form {
  width: 335px;
  height: 327px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 364px;
    height: 351px;
  }

  @media screen and (min-width: 1280px) {
    width: 443px;
    height: 382px;
  }
}

.form::after {
  content: '';
  position: absolute;
  top: 61%;
  left: 53%;
  border-radius: 50%;
  filter: blur(100px);
  transform: rotate(-45deg);
  width: 142px;
  height: 142px;
  background-color: #91afba;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.form__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: $colorWhite;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.form__label:focus-within {
  color: $colorLightGreen;
}

.form__input {
  width: 335px;
  color: $colorWhite;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $colorWhite;
  outline: none;
  transition: border 300ms linear, border-radius 300ms linear;

  @media screen and (min-width: 768px) {
    width: 364px;
  }

  @media screen and (min-width: 1280px) {
    width: 443px;
  }
}

.form__input:focus {
  border: 1px solid $colorLightGreen;
  border-radius: 4px;
}

.form__input::placeholder {
  opacity: 0;
  transition: opacity 400ms linear;
}

.form__input:focus::placeholder {
  opacity: 1;
}

.form__comment {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  } 
}

.form__textarea {
  width: 335px;
  height: 60px;
  border: none;
  border-bottom: 1px solid $colorWhite;
  padding-left: 6px;
  background-color: transparent;
  color: $colorWhite;
  font-size: 14px;
  outline: none;
  resize: none;
  transition: border 400ms linear, border-radius 400ms linear;

  @media screen and (min-width: 768px) {
    width: 364px;
    height: 58px;
  }

  @media screen and (min-width: 1280px) {
    width: 443px;
  }
}

.form__textarea:focus {
  border: 1px solid $colorLightGreen;
  border-radius: 4px;
}

.form__button {
  border: 1px solid $colorWhite;
  border-radius: 60px;
  width: 123px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: $colorWhite;
  fill: $colorWhite;
  background-color: transparent;
  cursor: pointer;
  transition: border 300ms linear;

  @media screen and (min-width: 768px) {
    width: 132px;
    height: 48px;
    font-size: 18px;
  }

  &:hover {
    border: 1px solid $colorLightGreen;
  }
}

.form__button-icon {
  width: 18px;
  height: 8px;
  fill: $colorWhite;
  margin-left: 16px;
  transition: fill 300ms linear;
}
