.reviews {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 107px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-bottom: 134px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px; 
    padding-bottom: 164px;
  }
}

.reviews__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 32px;
    width: 497px;
  } 
}

.reviews__title-span {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: $colorLightGreen;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    
  }
}

.reviews__text {
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
