.reviews {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 107px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-bottom: 134px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-bottom: 164px;
  }
}

.reviews__text-container {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 75px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
  }
}

.reviews__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 32px;
    width: 497px;
  }
}

.reviews__title-span {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: $colorLightGreen;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.reviews__text {
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 0;
    width: 278px;
    margin-left: auto;
  }
}

.reviews__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  padding: 24px 14px;
  width: 335px;
  
  background-color: $colorBlue-2;
}

.reviews__img {
  margin: 0 auto 18px;
}

.customer__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 8px;
}

.customer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(246, 245, 239, 0.5);
  margin-bottom: 0;
  width: 300px;
}

.swiper-pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 14px;
  padding-bottom: 80px;
  background-color: $colorLightGreen;
}
