#scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
  padding: 12px 16px;
  background-color: $colorLightGreen;
  border-radius: 8px;
  cursor: pointer;
  z-index: 5;
  transition: transform 200ms linear, background-color 200ms linear;
}

#scrollToTop:hover {
  transform: scale(1.1);
  background-color: #83c4ce;
}

.scroll-up {
  fill: $colorWhite;
}
