.services {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-bottom: 164px;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
  }
}

.services__item {
  position: relative;

  @media screen and (min-width: 768px) {
    &:nth-child(2) {
      margin-left: auto;
    }
  }

  @media screen and (min-width: 1280px) {
    &:nth-child(2) {
      padding-top: 204px;
    }

    &:nth-child(3) {
      margin-left: 372px;
    }
  }
}

.services__item:nth-child(1)::before {
  position: absolute;
  content: "";
  border-radius: 60%;
  filter: blur(100px);
  transform: rotate(-45deg);
  background-color: #91afba;
  top: 106%;
  left: -23%;
  width: 230px;
  height: 230px;
}

.services__first-side {
  position: relative;
}

.services__img {
  border-radius: 40px;
}



.services__button {
  position: absolute;
  left: 24px;
  bottom: 24px;
  border-radius: 60px;
  padding: 14px 28px;
  background-color: $colorWhite;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: $colorDarkBlue;
  border: none;
  cursor: pointer;
}



// .services__back-side {
//   position: relative;
// }

.services__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  padding: 20px 10px;
  opacity: 0;
}

.services__first-side:hover,
.services__first-side:focus {
  transform: translatey(0);
  opacity: 1;
}