.services {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__first-side {
  position: relative;
}

.services__img {
  border-radius: 40px;
}

.services__button {
  position: absolute;
  left: 24px;
  bottom: 24px;
  border-radius: 60px;
  padding: 14px 28px;
  background-color: $colorWhite;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: $colorDarkBlue;
  border: none;
  cursor: pointer;
}



// .services__back-side {
//   position: relative;
// }

.services__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  padding: 20px 10px;
  opacity: 0;
}

.services__first-side:hover,
.services__first-side:focus {
  transform: translatey(0);
  opacity: 1;
}