// Base
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $colorWhite;
  background-color: $colorDarkBlue;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
